
.PP-After-Drawer{
    display: flex;
    margin-left: 230px;
    height: 100vh;
    width: 80vw;
    font-family: 'Bebas Neue', cursive;
    
}

.PP-options{
    height: 9vh;
    width: 6vw;
   
}

.PP-box{
    position: relative;
    height: 8vh;
    width: 20vh;
    left:1.5vw;
    padding-top: 2vh;
    
}

.PP-box-icon{

}
.PP-boxhead{

    font-size: 1.5vh;
    color: gray;
    font-family:Poppins;

}
.PP-boxcontent{
    font-size: 2.5vh;
    letter-spacing: 0.1vw;
    font-weight: 100;
    color: rgb(20, 20, 67);

}

.PP-data-head1 p{

    font-size: 15vh;
    color: red;
    /* font-family: Bebas Neue; */
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: -9vh;
    font-weight: 400;
    /* border: 2px solid black; */

}
.PP-data-head1 span{

    font-size: 8vh;
    color: rgb(20, 20, 67);
    font-style: normal;
    font-weight: normal;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    /* border: 2px solid black; */

}

.PP-data-content-comma{

    color: red;
    font-size: 4vh;
    font-weight: bolder;
    display: inline;
    /* margin-top: 10vh; */
    /* margin-right: 0.5vw; */
    /* border: 2px solid black; */
    margin-top: -4vh;
    padding-top: -4vh;

}
.PP-data-content{
    
    margin-top: -3vh;
    color: rgb(20, 20, 67);
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.8vh;
    /* border: 2px solid black; */
}

.PP-imageP1{
    position: absolute;
    height: 75vh;
    width: 38vw;
    top: 5vh;
    left: 30vw;
    z-index: -1;
}

.PP-detail-card{

    height: 12vw;
    width: 18vw;
    /* border: 2px solid black; */
    border-radius: 3vh;
    /* background: linear-gradient(270.55deg, rgba(13, 17, 60, 0.87) 0.5%, rgba(19, 22, 62, 0.88) 99.55%);*/
    /* box-shadow: 0vw 33vw 100vw rgba(17, 17, 17, 0.13); */
    /* backdrop-filter: blur(20px);   */
    color: rgb(20, 20, 67);
}

.PP-detail-card:hover{

    background: linear-gradient(270.55deg, rgba(13, 17, 60, 0.87) 0.5%, rgba(19, 22, 62, 0.88) 99.55%);
    box-shadow: 0px 33px 100px rgba(17, 17, 17, 0.13);
    backdrop-filter: blur(20px);
    color: white;

}

.PP-detail-card-part1{

    height: 5vw;
    /* border: 2px solid black; */
    border-radius: 2vw 2vw 0vw 0vw;
    display: flex;
}


.PP-detail-card-part1-left{

    height: 5vw;
    width: 12vw;
    /* border: 2px solid black; */
    /* margin-bottom: -1vw; */
    /* border-radius: 2vw 2vw 0vw 0vw; */

}
.PP-detail-card-part1-left-content{
    margin-left: 1.5vw;
    margin-top: 0.6vw;
}
#PP-left-data-head1{
    font-size: 0.8vw;
    font-family: "Poppins";
    font-weight: 400;
    color: gray;
}
#PP-left-data-content1{
    font-size: 1.3vw;
    font-weight: 500;
    margin-top: -0.4vw;
}
.PP-detail-card-part1-right{
    height: 5vw;
    width: 7vw;
    /* border: 2px solid black; */
    display: flex;
    padding-top: 1vw;
    padding-right: 0.5vw;
}

.PP-detail-card-part1-right-img1{

    height: 3vw;
    width: 3vw;
    /* border: 1px solid red; */
    border-radius: 2vw;
    position: relative;
    left:1vw;
    /* background-color: blue; */

}
.PP-detail-card-part1-right-img2{

    height: 3vw;
    width: 3vw;
    /* border: 1px solid red; */
    border-radius: 2vw;
    /* background-color: pink; */
    z-index: 1;
}



.PP-detail-card-part2{

    height: 5vw;
    /* border: 2px solid black; */
    display: flex;
    /* border-radius: 2vw; */
}

.PP-detail-card-part2-left{

    width: 9vw;
    height: 5vw;
    /* border: 2px solid black; */
    display: flex;
}

.heart{
    margin-left: 0vw;
}

.PP-detail-card-part2-left svg{

    font-size: 1vw;
}

.PP-detail-card-part2-left-content{
    /* border: 2px solid black; */
    /* display: inline; */
    height: 3.5vw;
    width: 5vw;
    margin-left: -0.8vw;
    margin-top: 0.9vw;
}

#PP-left-data-head2{
    font-size: 0.6vw;
    font-family: "Poppins";
    font-weight: 400;
    color: gray;
}
#PP-left-data-content2{
    font-size: 1.3vw;
    font-weight: 500;
    margin-top: -0.4vw;
}

#PP-left-data-content2 svg{
    font-size: 0.8vw;
    color: red;
}


.PP-detail-card-part2-right{

    width: 9vw;
    height: 5vw;
    /* border: 2px solid black; */
    display: flex;
    padding-left: 1vw;
    padding-top: 1vw;
}

.PP-detail-card-part2-right-box{
    /* border: 2px solid black; */
    height: 3vw;
    width: 4vw;
    

}

.PP-detail-card-part3{

    height: 2vw;
    /* border: 2px solid black; */
    border-radius: 0vw 0vw 3vh 3vh;
    background-color: white;
    color: white;
    font-family: "Poppins";
    font-size: 0.8vw;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1vw;
    padding-top: 0.3vw;
}

.PP-detail-card:hover .PP-detail-card-part3{
    background-color: red;
}




.PP-Right-Image{
    height: 17vw;
    width: 16vw;
    /* border: 2px solid black; */
    position: absolute;
    left:76vw;
    top:30vw;
    border-radius: 4vh;
}

