.container {
  position: relative;
  height: 7917px;
  max-width: 1920px;
}
.selecter {
  height: 35px;
  width: 175px;
  left: 120px;
  top: 40.45703125px;
  position: absolute;
  align-items: center;
}
.about {
  position: absolute;
  height: 24px;
  left: 29.4%;
  right: 68.1%;
  top: calc(50% - 24px / 2 - 3900.77px);
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 2px;
  color: #e51615;
}
.line43 {
  position: absolute;
width: 82px;
height: 0px;
left: 559.56px;
top: 70.18px;
border: 1px solid #E51615;
}
.line44 {
  position: absolute;
  width: 74.57px;
 height: 0px;
  left: 572.89px;
  top: 385.13px;
  border: 1px solid #E51615;
}
.ourTeam {
  position: absolute;
  height: 24px;
  left: 36.4%;
  right: 59.7%;
  top: calc(50% - 24px / 2 - 3900.77px);

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;

  color: #131742;
}
.faqs {
  position: absolute;
  height: 24px;
  left: 44.74%;
  right: 53.33%;
  top: calc(50% - 24px / 2 - 3900.77px);

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;

  color: #131742;
}
.app {
  position: absolute;
  height: 24px;
  left: 51.06%;
  right: 45.71%;
  top: calc(50% - 24px / 2 - 3900.77px);

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  white-space: nowrap;
  letter-spacing: 2px;

  color: #131742;
}
.contact {
  position: absolute;
  height: 24px;
  left: 58.83%;
  right: 37.73%;
  top: calc(50% - 24px / 2 - 3900.77px);

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 2px;

  color: #131742;
}
.rectangle25 {
  position: absolute;
  width: 180.06px;
  height: 50px;
  left: 1619.94px;
  top: 32.96px;
  z-index: 2;
cursor: pointer;
  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.87) 0.5%,
    rgba(19, 22, 62, 0.88) 99.55%
  );
  box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 25px;
}
.login {
  position: absolute;
  width: 42px;
  height: 18px;
  left: 1688.47px;
  top: 48.96px;
z-index: 2;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.text1 {
  position: absolute;
  width: 265px;
  height: 70px;
  left: 124.32px;
  top: 320.13px;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 84px;
  color: #e51615;
  white-space: nowrap;
}
.text2 {
  position: absolute;
  width: 496px;
  height: 180px;
  left: 120px;
  top: 360.89px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 180px;
  /* identical to box height */

  text-transform: capitalize;
  color: #131742;
}
.text3 {
  position: absolute;
  width: 584.58px;
  height: 84px;
  left: 127.32px;
  top: 540.89px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #666666;
}
.rectangle35 {
  position: absolute;
  width: 180px;
  height: 50px;
  left: 127.32px;
  top: 639.72px;
 cursor: pointer;
  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.87) 0.5%,
    rgba(19, 22, 62, 0.88) 99.55%
  );
  box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 25px;
}
.joinUs {
  position: absolute;
  width: 55px;
  height: 18px;
  left: 189.82px;
  top: 655.72px;
  white-space: nowrap;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.adobeStock {
  position: absolute;
  width: 877.32px;
  height: 844.49px;
  left: 844.68px;
  top: 105.51px;
}
.ellipse41 {
  position: absolute;
  width: 211px;
  height: 211px;
  left: 880.21px;
  top: 372.18px;

  background: linear-gradient(197.62deg, #ffffff 44.46%, #f4f5ff 66.07%);
  box-shadow: 0px 0px 124px #181c4a;
  border-radius: 103px;
}
.ellipse43 {
  position: absolute;
  width: 175px;
  height: 175px;
  left: 898.21px;
  top: 390.18px;

  background: linear-gradient(176.12deg, #e51615 -9.13%, #fe425c 122%);
  box-shadow: 0px 0px 124px #ffe3e1;
  border-radius: 89px;
}
.hash {
  position: absolute;
  width: 17px;
  height: 40px;
  left: 942.21px;
  top: 461.18px;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.8);
}
.number {
  position: absolute;
  width: 65px;
  height: 80px;
  left: 958.21px;
  top: 429.18px;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height, or 100% */

  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.9);
}
.pool {
  position: absolute;
  width: 81px;
  height: 24px;
  left: 941.21px;
  top: 497.18px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 24px;
  /* identical to box height, or 89% */

  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.8);
}
.rectangle741 {
  position: absolute;
  width: 96.83px;
  height: 118.72px;
  left: 914.48px;
  top: 702.32px;

  background: linear-gradient(270.46deg, #e51615 0.42%, #fe425c 151.11%);
  box-shadow: 0px 8px 32px rgba(235, 48, 34, 0.3);
  border-radius: 23px;
}
.VectorRectangle741 {
  position: absolute;
left: 48.34%;
right: 49.04%;
top: 9.07%;
bottom: 90.71%;
}
.vector547 {
  position: absolute;
  left: 76.33%;
  right: 14.33%;
  top: 6.7%;
  bottom: 4.17%;
}
.born {
  position: absolute;
width: 38px;
height: 12px;
left: 1465.27px;
top: 559.55px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #C2C1CC;
}
.date {
  position: absolute;
  left: 1465.27px;
  top: 576.55px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  white-space: nowrap;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #131742
}
.vectorAge {
  position: absolute;
left: 76.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;
}
.age {
  position: absolute;
left: 1465.27px;
top: 683.55px;
font-family: Poppins;
font-weight: 600;
font-size: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FEFEFE;
}
.ageYear {
  position: absolute;
  /* width: 53px; */
  /* height: 21px; */
  left: 1465.27px;
  top: 699.55px;
  font-family: Bebas Neue;
  /* font-style: normal; */
  font-weight: 600;
  font-size: 26px;
  line-height: 21px;
  white-space: nowrap;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #131742;
}
.vectorRelationship {
  position: absolute;
  left: 76.33%;
right: 16.67%;
top: 9.8%;
bottom: 16.67%;
}
.relationship {
  position: absolute;
  /* width: 97px; */
  /* height: 12px; */
  left: 1465.27px;
  top: 798.55px;
  font-family: Poppins;
  /* font-style: normal; */
  font-weight: 600;
  font-size: 12px;
  /* line-height: 12px; */
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FEFEFE;
}
.single {
  position: absolute;
    /* width: 64px; */
    /* height: 21px; */
    left: 1465.27px;
    top: 810.55px;
    font-family: Bebas Neue;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 26px;
    /* line-height: 21px; */
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #131742;
}
.vectorGlobe {
  position: absolute;
  left: 85.9%;
  right: 8.33%;
  top: 6.8%;
  bottom: 8.33%;
}
.country {
  position: absolute;
  width: 66px;
  height: 12px;
  left: 1650.27px;
  top: 562.55px;
  font-family: Poppins;
  /* font-style: normal; */
  font-weight: 600;
  font-size: 12px;
  /* line-height: 12px; */
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C2C1CC;
}
.countryName {
  position: absolute;
    /* width: 35px; */
    /* height: 21px; */
    left: 1650.27px;
    top: 581.55px;
    font-family: Bebas Neue;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 26px;
    line-height: 21px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #131742;
}
.vectorState {
  position: absolute;
    left: 85.9%;
    right: 12.54%;
    top: 8.4%;
    bottom: 12.98%;
}
.state {
  position: absolute;
    /* width: 41px; */
    /* height: 12px; */
    left: 1650.27px;
    top: 687.55px;
    font-family: Poppins;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 12px;
    /* line-height: 12px; */
    /* display: flex; */
    /* align-items: center; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C2C1CC;
}
.stateName {
  position: absolute;
    /* width: 108px; */
    /* height: 21px; */
    left: 1644.27px;
    top: 701.55px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    /* line-height: 21px; */
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color:  #131742;
}
.vectorCity {
  position: absolute;
left: 85.9%;
right: 12.5%;
top: 9.8%;
bottom: 16.67%;
}
.city {
  position: absolute;
  /* width: 31px; */
  /* height: 12px; */
  left: 1647.27px;
  top: 798.55px;
  font-family: Poppins;
  /* font-style: normal; */
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C2C1CC;
}
.cityName {
  position: absolute;
    /* width: 31px; */
    /* height: 12px; */
    left: 1647.27px;
    top: 819.55px;
    font-family: Poppins;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 26px;
    line-height: 12px;
    /* display: flex; */
    /* align-items: center; */
    /* letter-spacing: 0.1em; */
    text-transform: uppercase;
    white-space: nowrap;
    color:  #131742;
}
.rectangle742 {
  position: absolute;
width: 77.09px;
height: 94.52px;
left: 1503.27px;
top: 386.66px;

background: linear-gradient(115.09deg, rgba(251, 251, 251, 0.1) 4.35%, rgba(247, 247, 247, 0.1) 98.4%);
border: 1px solid rgba(228, 228, 228, 0.6);
box-sizing: border-box;
box-shadow: 0px 38px 82px rgba(19, 23, 66, 0.15);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}
.kidsLogo {
  position: absolute;
    left: -38.84%;
    right: 19.88%;
    top: -26.94%;
    bottom: 94.69%;
}
.kids {
  position: absolute;
    /* width: 25px; */
    /* height: 24px; */
    left: 9.15px;
    top: 42.76px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: rgba(19, 23, 66, 0.5);
}
.kidsNumber {
  position: absolute;
  width: 35px;
  height: 21px;
  left: 10px;
  top: 72.64px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color:  #131742;
}
.following {
  position: absolute;
    left: 1812px;
    top: 329.74px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #131742;
    white-space: nowrap;
    transform: rotate(90deg);
}
.line42 {
  position: absolute;
width: 33.81px;
height: 0px;
left: 1878px;
top: 453.38px;

border: 1px solid #E51615;
transform: rotate(90deg);
}
.vectorFacebook {
  position: absolute;
    left: 98.52%;
    right: 1.9%;
    top: 6.19%;
    bottom: 93.33%;
}
.vectorTwitter {
  position: absolute;
  left: 98.3%;
  right: 1.53%;
  top: 6.78%;
  bottom: 92.72%;
}
.vectorInstagram {
  position: absolute;
  left: 98.3%;
  right: 1.57%;
  top: 7.38%;
  bottom: 92.01%;
}
.rectangle547 {
  position: absolute;
  width: 346px;
  height: 364px;
  left: 1430.27px;
  top: 499.55px;
  background: linear-gradient(
    115.09deg,
    rgba(251, 251, 251, 0.1) 4.35%,
    rgba(247, 247, 247, 0.1) 98.4%
  );
  border: 1px solid rgba(242, 242, 242, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 38px 82px rgba(19, 23, 66, 0.06);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35px;
}
.rectangle740 {
  position: absolute;
  width: 127.4px;
  height: 156.21px;
  left: 1280.91px;
  top: 768.55px;

  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.94) 0.5%,
    rgba(19, 22, 62, 0.93) 99.55%
  );
  box-shadow: 0px 4px 40px rgba(19, 23, 66, 0.4);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
.vector2 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 4.17%;
  bottom: 4.17%;

  background: linear-gradient(180deg, #e51615 0%, #eb3022 100%);
}
.svg0 {
  position: absolute;
  width: 1087.93px;
  height: 1087.93px;
  left: 899.06px;
  top: -526.15px;

  opacity: 0.05;
  border: 300px solid #131742;
  box-sizing: border-box;
}
#vector3 {
  position: absolute;
  left: 48.34%;
  right: 49.04%;
  top: 9.07%;
  bottom: 90.71%;
}
.AdobeStock_253980681 {
  position: absolute;
  width: 877.32px;
  height: 844.49px;
  left: 844.68px;
  top: 105.51px;
}
.height {
  position: absolute;
  width: 65px;
  height: 24px;
  left: 930.39px;
  top: 756.19px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}
.numberFirst {
  position: absolute;
    width: 11px;
    height: 6px;
    left: 928.39px;
    top: 792.19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 6px;
    text-align: center;
    color: #FFFFFF;
}
.feet {
  position: absolute;
width: 9px;
height: 6px;
left: 943.39px;
top: 797.19px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 6px;
text-align: center;
color: #FFFFFF;
}
.numberSecond {
  position: absolute;
width: 12px;
height: 21px;
left: 957.39px;
top: 784.19px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 21px;
/* identical to box height, or 70% */

letter-spacing: 0.07em;
text-transform: uppercase;

color: #FFFFFF;
}
.inch {
  position: absolute;
    width: 11px;
    height: 6px;
    left: 974.39px;
    top: 797.19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 6px;
    text-align: center;
    color: #FFFFFF;
}
.vector740 {
  position: absolute;
left: 67.85%;
right: 30.57%;
top: 10%;
bottom: 89.61%;
}
.sex {
  position: absolute;
left: 1302.77px;
top: 842.15px;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */
letter-spacing: 0.14em;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.6);
}
.sexType {
    position: absolute;
    left: 1302.77px;
    top: 873.62px;
    font-family: Bebas Neue;
    font-size: 24px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ellipse85 {
  position: absolute;
  width: 1087.93px;
  height: 1087.93px;
  left: 914.06px;
  top: -526.15px;
  border-radius: 100%;
  opacity: 0.05;
  border: 300px solid #131742;
  box-sizing: border-box;
}
.ellipse86 {
  position: absolute;
    width: 761.98px;
    height: 761.98px;
    left: -325.53px;
    top: 555.01px;
    position: absolute;
    border-radius: 139%;
    opacity: 0.05;
    border: 300px solid #131742;
    box-sizing: border-box;
}
.rectangle743 {
  position: absolute;
width: 1920px;
height: 178.99px;
left: 0px;
top: 771.01px;
background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.1) 100%);
}
.ellipse87 {
  position: absolute;
    width: 1139.61px;
    height: 1139.61px;
    left: 1066.2px;
    top: 1166.31px;
    background: #131742;
    opacity: 0.02;
    border-radius: 100%;
    opacity: 0.05;
    border: 300px solid #131742;
    box-sizing: border-box;
}
.passion {
    position: absolute;
width: 721px;
height: 210px;
left: 640.88px;
top: 950.31px;

font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 230px;
line-height: 210px;
/* identical to box height, or 91% */

display: flex;
align-items: center;
letter-spacing: 0.1em;
text-transform: uppercase;

opacity: 0.3;
border: 2px solid rgba(19, 23, 66, 0.13);
}
.ellipse95 {
    position: absolute;
width: 86.62px;
height: 86.62px;
left: 233.4px;
top: 1221.25px;
border-radius: 62%;
    z-index: 1;
background: linear-gradient(176.12deg, #E51615 -9.13%, #FE425C 122%);
box-shadow: 0px 0px 124px #FFE3E1;
}
.VectorHeart {
    position: absolute;
left: 13.34%;
right: 84.62%;
top: 15.76%;
bottom: 83.82%;
z-index: 1;
background: rgba(255, 255, 255, -0.13);
}
.AdobeStock_214746128 {
    position: absolute;
width: 693.4px;
height: 602.4px;
left: 318.03px;
top: 1123.53px;
border-radius: 0px;
z-index: 1;
}
.rectangle69332 {
    position: absolute;
width: 290px;
height: 278.91px;
left: 263.02px;
top: 1245.87px;

background: linear-gradient(313.66deg, rgba(13, 17, 60, 0.84) 3.01%, rgba(19, 22, 62, 0.92) 98.49%);
box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
backdrop-filter: blur(17px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;
}
.AdobeStock_269221208 {
  position: absolute;
  width: 259.88px;
  height: 326.16px;
  left: 716.88px;
  top: 1457.95px;
  border-radius: 0px 0px 0px 20px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  z-index: 2;
}
.rectangle737 {
  position: absolute;
  width: 390px;
  height: 200px;
  left: 588.88px;
  top: 1584.11px;
  
  background: linear-gradient(115.09deg, rgba(255, 255, 255, 0.48) 4.35%, rgba(255, 255, 255, 0.46) 98.4%);
  box-shadow: 0px 33px 100px rgba(8, 11, 37, 0.05);
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
  z-index: 1;
  border-radius: 20px;
}
.typoso {
    position: absolute;
width: 339px;
height: 36px;
left: 1305.21px;
top: 1162.89px;

font-family: Bebas Neue;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
/* identical to box height */
white-space: nowrap;

color: #E51615;
}
.typopass {
    position: absolute;
width: 544px;
height: 84px;
left: 1305.21px;
top: 1192.89px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 84px;
/* identical to box height */


color: #131742;
}
.typocopy {
    position: absolute;
width: 510.99px;
height: 84px;
left: 1305.21px;
top: 1285.15px;
font-style: normal;
font-weight: 600px;
font-size: 16px;
line-height: 28px;
/* or 175% */
color: #666666;
}
.typoduiss {
    position: absolute;
width: 503.81px;
height: 56px;
left: 1305.21px;
top: 1392.78px;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #666666;

}
.rectangle745 {
    position: absolute;
width: 210.76px;
height: 50px;
left: 1305.21px;
top: 1500.78px;

background: linear-gradient(270.55deg, #131742 0.5%, #34375A 99.55%);
box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
border-radius: 60px;
}
.typohow {
    position: absolute;
width: 108px;
height: 18px;
left: 1355.58px;
top: 1516.78px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
white-space: nowrap;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.ellipse87Parent {
    position: relative;
    height: 1000; /* bigger than your svg */
    width: 1000; /* bigger than your svg */
  
}
.ellipse87Child {
    position: absolute;
width: 1139.61px;
height: 1139.61px;
left: 1066.2px;
top: 1166.31px;
background: #131742;
opacity: 0.02;
}
.typolorem {
    position: absolute;
width: 273px;
height: 36px;
left: 264.31px;
top: 2012.71px;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
white-space: nowrap;
color: #E51615;
}
.typoEnim {
    position: absolute;
width: 476px;
height: 84px;
left: 261.31px;
top: 2043.71px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 84px;
color: #131742;
}
.typoipsum {
    position: absolute;
width: 512.19px;
height: 84px;
left: 264.31px;
top: 2144.71px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #666666;
}
.typoduis {
    position: absolute;
width: 493.33px;
height: 56px;
left: 264.31px;
top: 2242.78px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #666666;
}
.AdobeStock_271631079 {
  position: absolute;
    width: 509.58px;
    height: 587.13px;
    left: 1029.55px;
    top: 1913.72px;
    border-radius: 401px;
background: url('Images/AdobeStock_271631079 1.jpg');
box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
}
.AdobeStock_247974953 {
  position: absolute;
  width: 123.76px;
  height: 129.22px;
  border-radius: 236px;
  left: 1397.74px;
  top: 2358.76px;
background: url('Images/AdobeStock_247974953.png');
}
.LogowTexture1 {
    position: absolute;
width: 515.49px;
height: 526.83px;
left: 938.71px;
top: 1999.36px;
mix-blend-mode: darken;
border-radius: 85px 75px 75px 75px;
}
.background434599178 {
  position: absolute;
width: 2175.67px;
height: 1206.47px;
left: -45.93px;
top: 1832.18px;

background: url('Images/background434599178.jpg');
opacity: 0.1;
filter: blur(100px);
transform: matrix(1, 0, 0, -1, 0, 0);
}

.vectorTriplet1 {
  position: absolute;
left: 16.35%;
right: 81.6%;
top: 15.01%;
bottom: 84.57%;
}
.vectorTriplet2 {
  position: absolute;
left: 14.92%;
right: 83.76%;
top: 14.68%;
bottom: 85.05%;
}
.vectorTriplet3 {
  position: absolute;
left: 16.06%;
right: 82.63%;
top: 14.36%;
bottom: 85.37%;
}
.joinTodayWrapper {
  position: absolute;
width: 180px;
height: 50px;
left: 264.31px;
top: 2349px;
color: #FFFFFF;
letter-spacing: 0.1em;
background: linear-gradient(270.55deg, #131742 0.5%, #34375A 99.55%);
box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
border-radius: 60px;
}
.rectangle749 {
  position: absolute;
width: 1920px;
height: 455.99px;
left: 0px;
top: 2685.59px;
background: linear-gradient(0deg, rgba(196, 196, 196, 0) 60.18%, rgba(196, 196, 196, 0.1) 100%);
}
.insideRectangle749 {
  position: absolute;
width: 273px;
height: 36px;
left: 823.5px;
top: 2855.07px;

font-family: Bebas Neue;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
/* identical to box height */
text-transform: uppercase;
white-space: nowrap;
color: #E51615;
}
.insideRectangle749f {
  position: absolute;
width: 512px;
height: 84px;
left: 812px;
top: 2885.07px;
white-space: nowrap;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 84px;
color: #131742;
/* identical to box height */
text-align: center;
text-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
}
.line50 {
  position: absolute;
width: 59.17px;
height: 0px;
left: 754.33px;
top: 2882.07px;

border: 1px solid #E51615;
}
.line49 {
  position: absolute;
width: 59.17px;
height: 0px;
left: 1315.5px;
top: 2882.07px;
border: 1px solid #E51615;
}
.typoAccusantium {
  position: absolute;
    width: 700.66px;
    height: 56px;
    left: 707.67px;
    top: 2969.07px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #666666;
  }
  .rectangle693 {
    position: absolute;
width: 1110px;
height: 120px;
left: 532px;
top: 3085.44px;
background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
  }
.rectangle694 {
  position: absolute;
width: 1110px;
height: 120px;
left: 532px;
top: 3215.74px;

background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
}
.rectangle695 {
  position: absolute;
width: 1152.41px;
height: 140px;
left: 508.79px;
top: 3336.44px;

background: linear-gradient(270.55deg, rgba(13, 17, 60, 0.87) 0.5%, rgba(19, 22, 62, 0.88) 99.55%);
box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 21px;
}
.rectangle696 {
  position: absolute;
width: 1110px;
height: 120px;
left: 532px;
top: 3476.36px;

background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
}
.rectangle697 {
  position: absolute;
width: 1110px;
height: 120px;
left: 532px;
top: 3606.68px;

background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
}
.rectangle698 {
  position: absolute;
width: 1110px;
height: 120px;
left: 532px;
top: 3736.98px;

background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
}
.rectangle746 {
  position: absolute;
width: 210px;
height: 50px;
left: 971px;
top: 3914.92px;
color: white;
background: linear-gradient(270.55deg, #131742 0.5%, #34375A 99.55%);
box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
border-radius: 60px;
}
.ellipse955 {
  position: absolute;
    width: 60px;
    height: 60px;
    left: 20.43px;
    top: 30px;
    background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
    border-radius: 30px;
}
.vectorTriangle {
  position: absolute;
    left: 28.38%;
    right: 151.53%;
    top: 27.6%;
    bottom: 60.14%;
}
.typoTortor {
  position: absolute;
  height: 56px;
  color: #131742;
  left: 110.21px;
  top: 34px;
  /* font-family: Bebas Neue; */
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  text-shadow: 0px 0px 124px rgb(255 255 255 / 18%)
}
.typosedut {
  position: absolute;
    width: 704px;
    height: 48px;
    left: 398px;
    top: 41px;
    /* font-family: Poppins; */
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 16px;
}
.ellipse96 {
  position: absolute;
    width: 60px;
    height: 60px;
    left: 23.43px;
    top: 31px;
    background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
border-radius: 40px;
}
.vectorDil {
  position: absolute;
  left: 26.22%;
  right: 73.36%;
  top: 30.23%;
  bottom: 58.48%;
}
.typoVectorDil {
  position: absolute;
  width: 111px;
  left: 113.21px;
  top: 33px;
  color: #131742;
  /* font-family: Bebas Neue; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
text-transform: uppercase;
}
.typoDil2 {
  position: absolute;
    width: 707px;
    height: 48px;
    left: 399.33px;
    top: 39px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.ellipse97 {
  position: absolute;
    width: 60px;
    height: 60px;
    left: 49.43px;
    top: 41px;
    border-radius: 30px;
    background: linear-gradient(176.12deg, #E51615 -9.13%, #FE425C 122%);
    box-shadow: 0px 0px 124px rgb(229 22 21 / 62%);
}
.vectorMessage {
  position: absolute;
    left: 30.41%;
    right: 86.56%;
    top: 32.18%;
    bottom: 56.57%;
    /* background: rgba(255, 255, 255, 0.87); */
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.typoDil3 {
  position: absolute;
    width: 109px;
    height: 56px;
    left: 92.21px;
    top: 0px;
    /* font-family: Bebas Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.87);
}
.typoDil4 {
  position: absolute;
    width: 702px;
    height: 48px;
    left: 369.33px;
    top: 7px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    opacity: 0.9;
    color: rgba(255, 255, 255, 0.87);
}
.ellipse98 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 25.43px;
  top: 25px;
  background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
  border-radius: 34px;
}
.vectorEmoji {
  position: absolute;
    left: 29.38%;
    right: 75.53%;
    top: 33.54%;
    bottom: 55.2%;
}
.typoFringilla {
  position: absolute;
  height: 56px;
  left: 117px;
  top: 29px;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #131742;
  text-transform: uppercase;
  text-shadow: 0px 0px 124px rgb(255 255 255 / 18%);
}
.typoDolore {
  position: absolute;
    width: 707px;
    height: 48px;
    left: 394.33px;
    top: 32px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.ellipse99 {
  position: absolute;
    width: 60px;
    height: 60px;
    left: 25.43px;
    top: 22px;
    background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
    border-radius: 35px;
}
.vectorFist {
  position: absolute;
  left: 31.41%;
  right: 78.55%;
  top: 37.2%;
  bottom: 53.58%;
}
.typoVenenatis {
  position: absolute;
  width: 99px;
  height: 56px;
  left: 117.21px;
  top: 23px;
  /* font-family: Bebas Neue; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #131742;
  /* letter-spacing: 0.03em; */
  text-shadow: 0px 0px 124px rgb(255 255 255 / 18%);
}
.typoAliquid {
  position: absolute;
    width: 685px;
    height: 48px;
    left: 390.33px;
    top: 27px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.ellipse100 {
  position: absolute;
    width: 60px;
    height: 60px;
    left: 24.43px;
    top: 26px;
    background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
    border-radius: 54px;
}
.vectorTemple {
  position: absolute;
    left: 30.41%;
    right: 75.55%;
    top: 25.83%;
    bottom: 51.91%;
}
.typoTemple {
  position: absolute;
    width: 72px;
    height: 56px;
    left: 120.21px;
    top: 31px;
    /* font-family: Bebas Neue; */
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    /* letter-spacing: 0.03em; */
    color: #131742;
    text-shadow: 0px 0px 124px rgb(255 255 255 / 18%);
}
.typoAtvero {
  position: absolute;
    width: 697px;
    height: 48px;
    left: 388.33px;
    top: 34px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.background {
  position: absolute;
width: 2336.58px;
height: 1374.79px;
left: -180.99px;
top: 2627.78px;
background: url('Images/AdobeStock_4141927541.png');
filter: blur(160px);
}
.AdobeStock_1445627162 {
  position: absolute;
  width: 433.3px;
  height: 577.56px;
  left: 550.89px;
  top: 4126.94px;
  background: url('Images/AdobeStock_1445627162.png');
  filter: blur(70px);
  border-radius: 0px 0px 20px 0px;
}
.AdobeStock_1445627161 {
  position: absolute;
width: 384.93px;
height: 513.08px;
left: 575.07px;
top: 4159.18px;
border-radius: 0px 0px 20px 0px;
}
.rectangle6933{
  position: absolute;
width: 308.85px;
height: 295px;
left: 293.41px;
top: 4223.83px;

background: linear-gradient(270.55deg, rgba(13, 17, 60, 0.87) 0.5%, rgba(19, 22, 62, 0.88) 99.55%);
box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
z-index: -1;
border-radius: 24px;
}
.ellipse9555 {
  position: absolute;
    width: 44.73px;
    height: 44.73px;
    left: 17.38px;
    top: 20px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 54px;
}
.vectorEllipse9555 {
  position: absolute;
  left: 26.72%;
  right: 82.22%;
  top: 31.8%;
  bottom: 45.99%;
}
.rectangle7372 {
  position: absolute;
width: 513.78px;
height: 94.53px;
left: 383.79px;
top: 4577.73px;
background: linear-gradient(115.09deg, rgba(251, 251, 251, 0.1) 4.35%, rgba(247, 247, 247, 0.1) 98.4%);
border: 1px solid rgba(242, 242, 242, 0.6);
box-sizing: border-box;
box-shadow: 0px 38px 82px rgba(19, 23, 66, 0.06);
backdrop-filter: blur(30px);
z-index: -1;
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;
}
.rating {
  position: absolute;
  width: 35px;
  height: 12px;
  left: 36px;
  top: 25px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D4D3DC;
}
.digits {
  position: absolute;
  width: 25px;
  height: 30px;
  left: 34px;
  top: 33px;
  /* font-family: Bebas Neue; */
  font-style: normal;
  font-weight: 600;
  /* font-size: 24px; */
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.vectorStar {
  position: absolute;
    left: -12.57%;
    right: 68%;
    top: -87.2%;
    bottom: 41.42%;
}
.vectorArrow {
  position: absolute;
    left: 1.5%;
    right: 167.83%;
    top: -89.6%;
    bottom: 41.48%;
}
.position {
  position: absolute;
    width: 44px;
    height: 12px;
    left: 116px;
    top: 25px;
    /* font-family: Poppins; */
    /* font-style: normal; */
    font-weight: bold;
    font-size: 8px;
    line-height: 12px;
    display: flex;
    /* align-items: center; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D4D3DC;
}
.typoTwo {
  position: absolute;
    width: 10px;
    height: 30px;
    left: 121px;
    top: 33px;
    /* font-family: Bebas Neue; */
    /* font-style: normal; */
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.ellipse999 {
  position: absolute;
width: 78.07px;
height: 78.07px;
left: 260.21px;
top: 4293.51px;
border-radius: 60px;
background: linear-gradient(176.12deg, #E51615 -9.13%, #FE425C 122%);
box-shadow: 0px 0px 124px #FFE3E1;
}
.hashTag {
  position: absolute;
    width: 39px;
    height: 44px;
    left: 26px;
    top: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 0px 0px 124px #ffe3e1;
}
.finished {
  position: absolute;
    width: 54.31px;
    height: 12.78px;
    left: 71px;
    top: 27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D4D3DC;
}
.strugles {
  position: absolute;
    width: 69.22px;
    height: 22.36px;
    left: 70px;
    top: 39px;
    /* font-family: Bebas Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    /* letter-spacing: 0.03em; */
    text-transform: uppercase;
    color: white;
}
.wade {
  position: absolute;
    width: 120.34px;
    height: 25.56px;
    left: 71px;
    top: 98px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: white;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.AdobeStock_4353769241 {
  position: absolute;
  width: 105.76px;
  height: 106.72px;
  left: 1043.02px;
  border-radius: 99px;
  top: 1913.03px;
background: url('Images/AdobeStock_4353769241.png');
border-radius: 400px;
}
.AdobeStock_4445757861 {
  position: absolute;
    width: 182.16px;
    height: 188.5px;
    left: 1475.37px;
    top: 1904.44px;
background: url('Images/AdobeStock_4445757861.png');
border-radius: 252px;
}
.vectorPause {
  position: absolute;
left: 53.58%;
right: 43.66%;
top: 29.47%;
bottom: 69.62%;
border-radius: 20px;
}
.line492{
  position: absolute;
width: 60px;
height: 0px;
left: 716.31px;
top: 2039.71px;

border: 1px solid #E51615;
}
.typoQuisNos {
  position: absolute;
    width: -17px;
    height: 36px;
    left: 1167.88px;
    top: 4253.33px;
    /* font-family: Bebas Neue; */
    /* font-style: normal; */
    font-weight: 600;
    font-size: 21px;
    line-height: 36px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #E51615;
}
.line493 {
  position: absolute;
    width: 59.17px;
    height: 0px;
    left: 1414.88px;
    top: 4277.33px;
    border: 1px solid #E51615;
}
.typoCulpa {
  position: absolute;
width: 485px;
height: 84px;
left: 1164.88px;
top: 4287.33px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 84px;
/* identical to box height */
text-transform: capitalize;
color: #131742;
}
.typography {
  position: absolute;
width: 493.33px;
height: 56px;
left: 1164.88px;
top: 4391.3px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */
color: #666666;
}
.typography2 {
  position: absolute;
width: 493.33px;
height: 84px;
left: 1164.88px;
top: 4482.33px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */
color: #666666;
}
.btn {
  position: absolute;
width: 180px;
height: 50px;
left: 1164.88px;
top: 4601.36px;
color:white;
background: linear-gradient(270.55deg, #131742 0.5%, #34375A 99.55%);
box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.08);
border-radius: 60px;
}
.rectangle750 {
  position: absolute;
width: 1920px;
height: 178.99px;
left: 0px;
top: 4873.49px;

background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.1) 100%);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.typography3 {
  position: absolute;
    width: 273px;
    height: 36px;
    left: 823.5px;
    top: 5026.41px;
    text-transform: uppercase;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
    white-space: nowrap;
    color: #E51615;
}
.line502 {
  position: absolute;
width: 59.17px;
height: 0px;
left: 754.33px;
top: 5046.41px;

border: 1px solid #E51615;
}
.line5022 {
  
position: absolute;
width: 59.17px;
height: 0px;
left: 1070.5px;
top: 5046.41px;

border: 1px solid #E51615;
}
.typography4 {
  position: absolute;
    width: 512px;
    height: 84px;
    color: #131742;
    left: 683px;
    top: 5039.41px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    text-shadow: 0px 8px 32px rgb(19 23 66 / 8%);
}
.typography5 {
  position: absolute;
  width: 700.66px;
  height: 56px;
  left: 609.67px;
  top: 5119.41px;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #666666;
}
.AdobeStock_2479749531 {
  position: absolute;
    width: 323.22px;
    height: 316.55px;
    left: 632.32px;
    top: 5227.81px;
    border-radius: 516px;
    border-color: #e51615;
}
.AdobeStock_21474612813 {
  position: absolute;
  width: 323.22px;
  height: 316.55px;
  left: 857.32px;
  top: 5227.81px;
  border-radius: 516px;
}
.ellipse137 {
  position: absolute;
  width: 229px;
  height: 232px;
  left: 244.43px;
  top: 5435.06px;
  filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.Ellipse134 {
  position: absolute;
    width: 229px;
    height: 233px;
    left: 592.21px;
    top: 5608.21px;
    filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.Ellipse139 {
  position: absolute;
  width: 261px;
  height: 278px;
  left: 1192.67px;
  top: 5617.21px;
  filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.Ellipse142 {
  position: absolute;
  width: 174px;
  height: 167px;
  left: 1470.54px;
  top: 5372.71px;
  filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.Ellipse144 {
  position: absolute;
  width: 191px;
  height: 196px;
  left: 1728.5px;
  top: 5209.32px;
  filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.Ellipse140 {
  position: absolute;
  width: 234px;
  height: 231px;
  left: 1709.21px;
  top: 5514.21px;
  filter: drop-shadow(0px 30px 100px rgba(235, 48, 34, 0.12));
}
.typography6 {
  position: absolute;
width: 209px;
height: 36px;
left: 343px;
top: 6148.85px;
text-transform: uppercase;
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
/* identical to box height */
white-space: nowrap;

color: #E51615;
}
.line499 {
  position: absolute;
  width: 59.17px;
  height: 0px;
  left: 700px;
  top: 6175.85px;
  border: 1px solid #E51615;
}
.typography7 {
  position: absolute;
width: 485px;
height: 84px;
left: 338px;
top: 6182.85px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 84px;
/* identical to box height */
text-transform: capitalize;
color: #131742;
}
.typography8 {
  position: absolute;
    width: 493.33px;
    height: 56px;
    left: 345px;
    top: 6275.82px;
    /* font-family: Poppins; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}
.btnJoin {
  position: absolute;
  width: 180px;
  height: 50px;
  left: 339px;
  top: 6368.08px;
  color: white;
  background: linear-gradient(270.55deg, #131742 0.5%, #34375A 99.55%);
  box-shadow: 0px 8px 32px rgb(19 23 66 / 8%);
  border-radius: 60px;
}
.rectangle701 {
  position: absolute;
width: 430px;
height: 350px;
left: 887px;
top: 6121.47px;

background: linear-gradient(115.09deg, #FBFBFB 4.35%, #F7F7F7 98.4%);
border-radius: 15px;
}
.rectangle703 {
  position: absolute;
width: 430px;
height: 350px;
left: 1434px;
top: 6121.61px;

background: linear-gradient(270.55deg, rgba(13, 17, 60, 0.87) 0.5%, rgba(19, 22, 62, 0.88) 99.55%);
box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px;
}
.ellipse95555 {
  position: absolute;
    width: 70px;
    height: 70px;
    left: 34px;
    top: 64px;
background: linear-gradient(176.12deg, #161A44 -9.13%, #252C74 122%);
box-shadow: 0px 10px 50px rgba(19, 23, 66, 0.43);
border-radius: 50px;
}
.vectorLed {
  position: absolute;
    left: 36.49%;
    right: 62.42%;
    top: 30.54%;
    bottom: 21.16%;
}
.typography9 {
  position: absolute;
  left: 34px;
  right: 699.78px;
  top: 165px;
  bottom: 1580.52px;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
font-size: 18px;
color: #131742;
line-height: 28px;
/* identical to box height, or 100% */
text-transform: uppercase;
letter-spacing: 0.03em;
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.typography10 {
  position: absolute;
  width: 345px;
  height: 48px;
  left: 34px;
  top: 217px;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.ellipseInRectangle703 {
  position: absolute;
  width: 70px;
  border-radius: 56px;
  height: 70px;
  left: 36px;
  top: 63px;
background: linear-gradient(176.12deg, #E51615 -9.13%, #FE425C 122%);
box-shadow: 0px 0px 124px #FFE3E1;
}
.vectorLock {
  position: absolute;
  left: 14%;
  right: 27.91%;
  top: 23.52%;
  bottom: 21.14%;
}
.typography11 {
  position: absolute;
    left: 37px;
    text-transform: uppercase;
    white-space: nowrap;
    right: 277px;
    top: 164px;
    bottom: 1580.52px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* letter-spacing: 0.03em; */
    color: #FFFFFF;
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.typography12 {
  position: absolute;
    width: 345px;
    height: 50px;
    left: 36px;
    top: 219px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #D3D4DB;
    opacity: 0.6;
}
.rectangle752 {
  position: absolute;
width: 1920px;
height: 178.99px;
left: 0px;
top: 6531.23px;

background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(196, 196, 196, 0.1) 100%);
}
.typography13 {
  position: absolute;
left: 338px;
right: 46.45%;
top: 86.21%;
bottom: 13.03%;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
white-space: nowrap;
/* identical to box height, or 107% */
color: #131742;
}
.typography14 {
  position: absolute;
width: 734.94px;
height: 84px;
left: 338px;
top: 6902.24px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */
color: #8B8B8B;
opacity: 0.8;
}
.AdobeStock_3453918431 {
  position: absolute;
  width: 635.89px;
  height: 951.98px;
  left: 1387.17px;
  top: 6964.53px;
}
.rectangle649 {
  position: absolute;
width: 330px;
height: 185px;
left: 1470.22px;
top: 7584.83px;

background: linear-gradient(115.09deg, rgba(255, 255, 255, 0.81) 4.35%, rgba(255, 255, 255, 0.03) 98.4%);
border: 1px solid #F3F3F3;
box-sizing: border-box;
box-shadow: 0px 33px 100px rgba(8, 11, 37, 0.1);
backdrop-filter: blur(18px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 24px;
}
.polygon2 {
  position: absolute;
width: 68.47px;
height: 77.48px;
left: 1770.17px;
top: 7535.17px;

background: #C4C4C4;
border-radius: 6px;
transform: rotate(30deg);
}
.rectangle738 {
  position: absolute;
  width: 298.24px;
  height: 152.94px;
  left: 1265.27px;
  top: 7287.58px;
  background: linear-gradient(270.55deg, rgba(255, 255, 255, 0.13) 0.5%, rgba(250, 250, 250, 0.12) 99.55%);
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-sizing: border-box;
  box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.06);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px;
}
.vector13 {
  position: absolute;
    width: 297.47px;
    height: 104.77px;
    left: 9px;
    top: 29px;
}
.vector14 {
  position: absolute;
    width: 298.11px;
    height: 104px;
    left: 10px;
    top: 27px;
}
.typography15 {
  position: absolute;
  display: inline;
left: 338.22px;
right: 1435.78px;
top: 7027.23px;
bottom: 863.77px;
font-family: Poppins;
font-style: normal;
white-space: nowrap;
font-weight: 600;
font-size: 30px;
color: #131742;
line-height: 26px;
/* identical to box height, or 87% */
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.form-box input {
position: absolute;
width: 260px;
height: 0px;
left: 482.22px;
top: 7060.68px;
border: 1px solid #252C74;
}
.ellipse108 {
  position: absolute;
width: 1617.74px;
height: 585.62px;
left: -771.52px;
top: 7380.66px;

background: linear-gradient(270.46deg, #E51615 0.42%, #FE425C 151.11%);
opacity: 0.3;
box-shadow: 0px 46px 170px rgba(235, 48, 34, 0.37);
filter: blur(357px);
border-radius: 30px;
}
.headerSelecter {
  position: absolute;
width: 215.66px;
height: 43.13px;
left: 120.22px;
top: 7498.7px;
}
.headerTypo {
  position: absolute;
width: 393.18px;
height: 84px;
left: 120.87px;
top: 7560.7px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #7A7A7A;
}
.rectangle33 {
  position: absolute;
  color: black;
  font-weight: bold;
  text-align: center;
width: 197.08px;
height: 60px;
left: 120.87px;
top: 7666.2px;
background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
backdrop-filter: blur(24px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 15px;
}
.rectangle32 {
  position: absolute;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  display: flex;
  padding-left: 50px;
  align-items: center;
width: 176.1px;
height: 60px;
left: 327.95px;
top: 7666.2px;

background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
backdrop-filter: blur(24px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px;
}
.rectangleIn33 {
width: 15.71px;
height: 16.67px;
background: linear-gradient(270.46deg, #161A44 0.42%, #252C74 151.11%);
box-shadow: 0px 28px 86px rgba(235, 48, 34, 0.37);
}
.playStore {
  position: absolute;
width: 16.15px;
height: 16.15px;
left: 154.62px;
top: 7686.13px;
background: url('Images/playStore.png');
}
.standard-basic {
  position: absolute;
width: 260px;
height: 0px;
left: 550.22px;
top: 7010.68px;

border: 1px solid #252C74;
}
.typography16 {
  position: absolute;
left: 826.22px;
white-space: nowrap;
color: #131742;
right: 876.78px;
top: 7027.23px;
bottom: 863.77px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 26px;
/* identical to box height, or 87% */
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.standard-basic2 {
  position: absolute;
width: 319.11px;
height: 0px;
left: 840.22px;
top: 7010.68px;

border: 1px solid #252C74;
}
.typography17 {
  position: absolute;
  left: 1432.22px;
  white-space: nowrap;
  color: #131742;
  right: 876.78px;
  top: 7027.23px;
  bottom: 863.77px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  /* identical to box height, or 87% */
  text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.typography18 {
  position: absolute;
  left: -1094.22px;
  white-space: nowrap;
  color: #131742;
  right: 876.78px;
  top: 51px;
  bottom: 863.77px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  /* identical to box height, or 87% */
  text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.standard-basic3 {
  position: absolute;
width: 319.11px;
height: 0px;
left: -85px;
top: 7060.68px;

border: 1px solid #252C74;
}
.typography19 {
  position: absolute;
left: 845.96px;
right: 894.04px;
top: 7094.05px;
bottom: 796.95px;
color: #131742;
white-space: nowrap;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 26px;
/* identical to box height, or 87% */
text-shadow: 0px 0px 124px rgba(255, 255, 255, 0.18);
}
.formGroup {
  position: absolute;
  top: 7130px;
  left: 336px;
}
.btnSubmit {
  color: white;
  position: absolute;
width: 210px;
height: 60px;
left: 339.22px;
top: 7240.66px;

background: #E51615;
border-radius: 30px;
}
.navigation {
  position: absolute;
left: 32.21%;
right: 63.73%;
top: 94.65%;
bottom: 4.96%;
font-family: Bebas Neue;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 31px;
/* identical to box height, or 141% */
color: #131742;
}
.legaltypo {
  position: absolute;
  left: 43.73%;
  right: 54.13%;
  top: 94.65%;
  bottom: 4.96%;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
  /* identical to box height, or 141% */
  color: #131742;
}
.typocontact {
  position: absolute;
left: 54.38%;
right: 41.46%;
top: 94.65%;
bottom: 4.96%;
font-family: Bebas Neue;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 31px;
white-space: nowrap;
/* identical to box height, or 141% */
color: #131742;
}
.headerAbout {
  position: absolute;
height: 23px;
left: 32.26%;
right: 65.4%;
top: calc(50% - 23px/2 + 3600.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #7A7A7A;
}
.headerOur {
  position: absolute;
height: 23px;
left: 32.26%;
right: 63.99%;
top: calc(50% - 23px/2 + 3644.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #7A7A7A;
}
.headerFaq {
  position: absolute;
height: 23px;
left: 32.71%;
right: 65.81%;
top: calc(50% - 23px/2 + 3688.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #7A7A7A;
}
.headerApp {
  position: absolute;
height: 23px;
left: 32.26%;
right: 64.56%;
top: calc(50% - 23px/2 + 3732.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #7A7A7A;
}
.headerContact {
  position: absolute;
height: 23px;
left: 32.26%;
right: 64.62%;
top: calc(50% - 23px/2 + 3776.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
text-align: center;
color: #7A7A7A;
}
.headerPrivacy {
  position: absolute;
height: 23px;
left: 43.73%;
right: 53.4%;
top: calc(50% - 23px/2 + 3600.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.headerCookie {
  position: absolute;
height: 23px;
left: 43.73%;
right: 51.11%;
top: calc(50% - 23px/2 + 3644.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.headerSecurity {
  
position: absolute;
height: 23px;
left: 43.73%;
right: 53.09%;
top: calc(50% - 23px/2 + 3688.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.headerTerms {
  position: absolute;
height: 23px;
left: 43.73%;
right: 53.82%;
top: calc(50% - 23px/2 + 3732.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.typoAddress {
  position: absolute;
width: 189px;
height: 23px;
left: 1075.01px;
top: calc(50% - 23px/2 + 3600.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
color: #7A7A7A;
/* identical to box height */
}
.typoPhone {
  position: absolute;
width: 107px;
height: 23px;
left: 1075.01px;
top: calc(50% - 23px/2 + 3644.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.typoEmailid {
  position: absolute;
width: 116px;
height: 23px;
left: 1075.01px;
top: calc(50% - 23px/2 + 3688.7px);
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* identical to box height */
color: #7A7A7A;
}
.Mask {
  position: absolute;
left: 47.9%;
right: 44.69%;
top: calc(50% - 23px/2 + 3517.7px);
bottom: 3.84%;
}
.union {
  position: absolute;
left: 54.38%;
right: 44.68%;
top: 96.5%;
bottom: 3.33%;
background: linear-gradient(176.12deg, #E51615 -9.13%, #FE425C 122%);
box-shadow: 0px 0px 124px #FFE3E1;
}
.unionShape {
  position: absolute;
left: 54.46%;
right: 44.77%;
top: 96.52%;
bottom: 3.35%;
background: #DADADA;
}
.path4 {
  position: absolute;
left: 54.53%;
right: 45.11%;
top: 96.53%;
bottom: 3.4%;
background: #DADADA;
}
.path42 {
  position: absolute;
left: 55.16%;
right: 44.5%;
top: 96.54%;
bottom: 3.41%;
background: #DADADA;
transform: matrix(-1, 0, 0, 1, 0, 0);
}