.registrationcss {
    position: absolute;
width: 1004px;
height: 210px;
left: 278px;
top: 15px;
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 210px;
line-height: 210px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
opacity: 0.6;
border: 2px solid rgba(19, 23, 66, 0.13);
}
.rectangleRegister {
    position: absolute;
width: 650px;
height: 1560.3px;
left: 637.98px;
top: 191.29px;
background: #FFFFFF;
box-shadow: 0px 32px 120px rgba(19, 23, 66, 0.08);
border-radius: 22px;
}