.blue-btn{
  /* display: inline-block;
  box-sizing: border-box; */
  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.87) 0.5%,
    rgba(19, 22, 62, 0.88) 99.55%
  );
  padding: 0.7vw 2vw;
  border-radius: 999em;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 0.9vw;
  font-weight: 600;
  max-width: max-content;
  text-align: center;
  letter-spacing: 0.1vw;
}