.glass-card {
  position: absolute;
  background: linear-gradient(
    115.09deg,
    rgba(251, 251, 251, 0.1) 4.35%,
    rgba(247, 247, 247, 0.1) 98.4%
  );
  border: 1px solid rgba(242, 242, 242, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 38px 82px rgba(19, 23, 66, 0.06);
  backdrop-filter: blur(10px);
  border-radius: 2vw;
  padding: 2vw;
}
